body {
    background-color: #1b5e20;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho_m {
    display: flex;
    background-color: #1b5e20;
    color: white;
    padding-left: 10px;
    padding-right: 40px;
    justify-content: space-between;     
    height: 60px;
    flex-direction: row;
    width: 100%;
    position: sticky;
}

.logo_m {
    font-family: 'Oswald', sans-serif;
    color: #d4af37;
    font-size: 24px;
    font-weight: bold; 
    min-width: 300px;
    display: flex;
    align-items: center;
}

.menu_m {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;     
}

.menu_m a{
    color: #ffffff; 
    font-weight: bold;
    text-decoration: none;    
}

.menu_m a:hover{
    text-decoration: underline;   
    color: #d4af37;
}

.container {
    padding: 50px 20px;
    text-align: center; /*centraliza o texto*/
    margin: 30px;    
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);
    border-radius: 10px;
    background-color: white;
}

.titulo {
    text-align: center;
    color: #1b5e20;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px; /*define um espaçamento entre as letras*/
}

.grade-modalidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    border-top: 5px solid #d4af37;
}

.card-header {
    padding: 20px;   
    gap: 15px;
}

.card-icon {
    font-size: 80px;   
}

.card-descricao h3 {
    color: #d4af37;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-descricao p {
    color: black;
    font-size: 15px;
    line-height: 1.5; /*ajusta o espaçamento entre as linhas do texto*/
}

.card-footer {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: bold;
    color: black;    
}

