/* Área da galeria */
.galeria{
    padding: 10px;
}

/* Título */
.galeria h2{
    text-align: center;
    color: #1b5e20;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* Organização das fotos */
.grid-galeria{
    columns: 4;
    column-gap: 15px;
}

/* Imagens */
.grid-galeria img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.grid-galeria img:hover{
    transform: scale(1.03);
}