/*seletor universal, vale para todas tags da página*/
* {
    margin: 0; /*margem externa*/
    padding: 0; /*margem interna*/
    box-sizing: border-box; /*controla o tamanho de cada elemento*/
}

body {    
    font-family: 'Montserrat', sans-serif;
    display: flex; /*ativa o flexbox*/
    flex-direction: column; /*organiza os elementos da página um abaixo do outro*/
    background-color: #f4f7f6;
}

.cabecalho {
    display: flex;
    background-color: #1b5e20;
    color: white;
    padding-left: 10px;
    padding-right: 40px;
    justify-content: space-between; /*alinha o conteúdo na horizontal, declarando espaçamento igual entre os elementos*/ 
    height: 60px;
    border-bottom: 5px solid #d4af37; /*borda inferior*/
    flex-direction: row;
    width: 100%; /*define que seja utilizada toda a largura da tela*/
    position: sticky; /*faz o cabeçalho ficar fixo no topo da tela*/
}

.logo {
    font-family: 'Oswald', sans-serif;
    color: #d4af37;
    font-size: 24px;
    font-weight: bold; 
    min-width: 300px; /*largura mínima a ser utilizada*/
    display: flex;
    align-items: center; /*alinha o conteúdo na vertical, centralizados na altura da barra do cabeçalho*/
}

/*alinha os links um ao lado do outro, centralizados horizontal e verticalmente*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px; /*espaço vazio entre cada link*/
}

/*estilização das tags de link*/
.menu a{
    color: #ffffff; 
    font-weight: bold;
    text-decoration: none; /*remove a linha sublinhada*/  
}

/*estilização das tags de link 'quando o mouse passa por cima'*/
.menu a:hover{
    text-decoration: underline; /*mostra a linha sublinhada*/
    color: #d4af37;
}

.banner {
    height: 400px;
    /*linear-gradient: aplica uma camada escura transparente por cima da imagem de fundo, para escurecer a foto e fazer o texto ficar legível*/
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://lh3.googleusercontent.com/gps-cs-s/APNQkAHMFOq-M-R30sv0akIscafmHt12GQyiHRgjTswJgqsHKdi8V9sEJBf947KGU-f-0l7MnlXCSULmYWnLoiHufusKFaZwG7H6xxqKWcGx4JLpfLjH86q1LyFDFjMrqxc-OBLobV0Q=s1360-w1360-h1020-rw); 
    background-size: cover; /*cobre todo o espaço do banner*/
    background-position: center; /*centraliza o fundo*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*alinha verticalmente começando na esquerda*/
    color: white;
}

/*estilização do título principal*/
.banner h1 {
    color: white;
    font-size: 30px;
    padding-left: 15px;
}

/*estilização do texto*/
.banner p {
    font-family: 'Oswald', sans-serif;
    color: #d4af37;
    font-size: 20px;
    padding-left: 15px;
}

.main-content {
    flex-grow: 1; /*estica o conteúdo principal pra ocupar todo o espaço vazio da tela, fixando o rodapé no fim da tela*/
}

.resumo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 30px;
    padding-right: 30px;
    border-radius: 12px; /*borda arredondada*/
    box-shadow: 0 4px 15px rgba(0,0,0,0.8); /*sombreamento na caixa*/
    margin: 20px;   
    width: 1100px; 
    margin: 0 auto; /*centraliza a caixa inteira na tela*/
    margin-top: 20px;
}

.titulo-sessao {
    text-align: center;
    margin: 50px 0 30px;
}

.destaques-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*se o conteúdo ultrapassar a tela, joga o card para a linha de baixo*/
    width: 1100px; 
    margin: 0 auto;
}

.destaque-card {
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border-top: 5px solid #1b5e20;    
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
    display: block; /*centraliza o ícone e empurra o texto para baixo dele*/
}

.footer {
    background: #1b5e20;
    color: white;
    padding: 15px 20px 15px;
    margin-top: 30px;
    border-top: 5px solid #d4af37;  
    width: 100%;
}